* {
    margin: 0;
    padding: 0;
    font-family:  “Comic Sans MS”, “Comic Sans”, monospace;
}

body {
    /* background-image: url(''); */
    background-size: cover;
    height: 100vh;
    margin:0;
    background-color: #f7d9ff;
}

form {
    margin-left: 35%;
    margin-right:25%;
    width: 30%;
    padding: 50px;
    background-color: rgb(255, 255, 255);

}
#authSubmit {
    background-color: blueviolet;
    margin-left: 35%;
    margin-right:25%;
    width: 30%;
    
}