@font-face {
  font-family: "ElMessiri-SemiBold";
  src: url("../fonts/el_messiri/ElMessiri-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
}


body {
  background-image: url("");
  background-size: cover;
  background-color: #fffeff;
  font-family: 'Roboto', sans-serif;
  color: #c800ff;
  font-size: 15px;
  margin: 0;
}

p,
h3 {
  margin: 1%;
}

.navStyle {
  padding: 10px;
  background-color: #d28fff;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  color: rgb(255, 255, 255);
}

.navStyleLibrary {
  padding: 10px;
  background-color: #d28fff;
  font-size: 20px;
  color: rgb(164, 8, 8);
}

#addNewSong {
  position: relative;
  top: 1px;
  left: -1340px;
  border-radius: 20px;
  background: #ffffff;
  color: #c062ff;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
}

#logout {
  background: #ffffff;
  color: #c062ff;
  border-radius: 20px;
  border: none;
  width: 100px;
  font-size: 18px;
  margin-left: 10px;
}

#library {
  background: #ffffff;
  color: #c062ff;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  border: none;
  width: 100px;
  margin-left: 10px;
}

#login {
  background: #ffffff;
  color: #c062ff;

  border-radius: 20px;
  border: none;
  width: 100px;
  margin-left: 10px;
}

#songBtn {
  position: relative;
  top: 1px;
  left: -1560px;
  border-radius: 20px;
  background: #ffffff;
  color: #c062ff;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
}

#songBtnLibrary{
  border-radius: 20px;
  background: #ffffff;
  color: #c062ff;
  border: none;
  padding-top: 9px;
  padding-bottom:  9px;
  font-size: 17px;
  width: 100px;
  cursor: pointer;
}
.mood-main {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pick-mood {
  font-family: 'Shrikhand', cursive;
  height: 80px;
  font-size: 50px;
  color: #E0B0FF;
  align-items: center;
  text-align: center;
  padding-left: 100px;
  padding-top: 30px;
}

.moods {
  font-family: 'Shrikhand', cursive;
  height: 80px;
  font-size: 50px;
  color: #E0B0FF;
  align-items: center;
  text-align: center;
  padding-left: 100px;
  padding-top: 30px;
}

.mood-pages {
  height: 100px;
  width: 100px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 50px;
  padding-top: 20px;
  color: #eeb6ff;
}
.styleSongContainers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 38px;
}

.song-thumbnail {
  width: 300px;
  height: 320px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.song-card {
  background-color: #d28fff;
  width: 350px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  color: #8600b6;
}

.library-card {
  background-color: #d28fff;
  width: 350px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  color: #8600b6;
}

.song-name {
  font-family: 'Darumadrop One', cursive;
  font-size: 30px;
  font-weight: bold;
  margin: 5px;
  color: #ffffff;
  text-transform: uppercase;
}

.song-artist {
  font-size: 18px;
}

.song-genre {
  font-size: 18px;
}
.song-mood {
  font-size: 18px;
}

.song-likes {
  font-size: 20px;
  margin: 5px 0;
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #e100ff;
}

#add-library {
  position: relative;
  top: 20px;
  left: 130px;
}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  border: none;
  margin: 10px;
  align-items: center;
}

.fill {
  background: #8600b6;
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
}

.fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
}

.outline {
  padding: 10px 15px;
  background: transparent;
  color: rgba(89, 0, 172, 0.9);
  border: 2px solid rgba(126, 0, 194, 0.6);
}

.outline:hover {
  transform: scale(1.125);
  color: rgba(156, 0, 191, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
}

#delete {
  position: relative;
  top: 20px;
  left: 130px;
  font-size: 22px;
  
}

.library-text {
  font-family: 'Shrikhand', cursive;
  height: 80px;
  font-size: 50px;
  color: #E0B0FF;
  align-items: center;
  text-align: center;
  padding-left: 100px;
  padding-top: 30px;
}

